/* Add here all your css styles (customizations) */



.g-bg-primary { background-color: #fff !important;}
.g-bg-red, .u-icon-v4-bg-primary--hover:hover .u-icon-v4-inner, .u-icon-block--hover:hover .u-icon-v4-bg-primary--hover .u-icon-v4-inner { background-color: #de040c !important}
.g-bg-red2 {background-color: #CC2F28}
.g-bg-red3 {background-color: #BB2B24}
.g-bg-darkgrey {background-color: #4c4c4c}
.g-brd-primary {border-color: #de040c !important}
.g-color-primary {color: #de040c !important}

.g-width-240 {
    width: 240px !important;
}
.btn { border-radius: 2px !important} 
.g-color-white-opacity-0_7, .g-color-white-opacity-0_7--hover:hover {
    
}

::-moz-selection {
  color: #fff;
  background-color: #de040c;
}

::selection {
  color: #fff;
  background-color: #de040c;
}

.tp-parallax-wrap .rev-btn a{
	font-size: 18px;
    color: white !important;
}
.tp-parallax-wrap .rev-btn:hover a, .tp-parallax-wrap .rev-btn:active a, .tp-parallax-wrap .rev-btn:focus a {
    color: black !important;
}
.navbar-nav .nav-item .nav-link {
    font-size: 14px;
    font-weight: 500;
    padding-top: 0.4rem !important;
}

.play-video-text {
    display:block;
    margin-top: 80px;
    margin-left: -35px;
}

#thanks {
    border: 1px solid;
    border-radius: 4px;
    padding: 20px;
    margin-top: -30px
}
.u-btn-primary {background-color: #de040c; border: none}
.u-btn-primary:hover, .u-btn-primary:hover, .u-btn-primary:focus { background-color: #BD0007; border: none}
.g-bg-primary--hover:hover {background-color: #BD0007 !important}


@media (max-width: 768px) { 
    #thanks { margin-top: 30px;}
    .u-header__logo-img { width: 160px !important}
}

@media (min-width: 992px) {
    .col-lg-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 18 0 33.333333%;
        max-width: 58.333333%;
        margin-top: 2em;
    }
}

@media (min-width: 768px){
    .g-py-20--md {
        padding-top: 1.12857rem !important;
        padding-bottom: 1.12857rem !important;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .u-header__logo-img {
        width: 140px !important;}
}
.fa {
    color: #fff;
}

/* Form */

.g-bg-grey {
    background-color: #efefef !important;
}

.formtitles {
    color: #5a5a5a;
}

.formtext{
    color:#5a5a5a;

}

.form-control, .form-control:focus {
    color: #4d4d4d !important;
}


.counter {
    font-weight: 300;
    font-size: 1.4em;
}

/* form img*/

.screen {
    margin-top: 3em;
}

#cookies {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #de040c;
}
#cookies p {
    font-size: 12px;
    color: #444;
}
#cookies .btn { font-size: 12px;}

.footerandcookies { margin-bottom: 98px}

.g-pb-90--lg {
   padding-bottom: 0 !important;
}
.u-has-error-v1 .help-block { color: #de040c; font-size: 12px}
}

@media (max-width: 992px){
    .g-pb-90--lg {
    padding-bottom: 2em !important;
}
}

